@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Helvetica Neue", sans-serif;
}
body {
  background-color: #150D39;
  overflow-x: hidden;
  color: #fffcff;
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
 }


section {
  height: 100%;
  
}

.threeColGrid {
  background-color: #27253d;
  grid-template-columns: repeat(3, 1fr);
}

@layer base {
  :root {
    --color-textactive: #FFFCFF;
    --color-text-wrong: #8a0a2b;
    --fill-color: rgba(249, 115, 22, 0.2);
    --background-color: #252726c3;
  }

}